<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!--  <ion-header collapse="condense">-->
    <!--    <ion-toolbar>-->
    <!--      <ion-title size="large">Blank</ion-title>-->
    <!--    </ion-toolbar>-->
    <!--  </ion-header>-->


    <ion-row class="ion-justify-content-center" style="margin-top: 200px;">
        <ion-col size="6" class="ion-text-center">
            <ion-button routerLink="/adduser">Add user</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
            <ion-button routerLink="/getuser">Users List</ion-button>

        </ion-col>
    </ion-row>


</ion-content>
