<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-row class="ion-justify-content-center row-align-center" style="height: 100%; background: linear-gradient(to right, #e1eec3, #f05053);">
        <ion-col size="12" class="ion-text-center">
            <ion-button routerLink="/adduser" class="text-transform-none font-24" color="secondary">
              <ion-icon name="add-outline" size="large"></ion-icon>
              Add user
            </ion-button>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
            <ion-button routerLink="/getuser" class="text-transform-none font-24" color="secondary">
              <ion-icon name="people-outline" size="large"></ion-icon>
              Users List
            </ion-button>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
            <ion-button class="text-transform-none font-24" color="secondary" (click)="logout()">
                <ion-icon name="log-out-outline" size="large"></ion-icon>
                Sign out
            </ion-button>
        </ion-col>
    </ion-row>


</ion-content>
